<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">

    <property name="logFileName" value="springbootscratch"/>
    <property name="FilePath" value="C:/Users/js84661/Desktop/My Stuff/SpringBoot2/SpringBootScratch"/>?
    <property name="fileLogPattern" value="TimeStamp: %d{yyyy-MM-dd HH:mm:ss.SSS} %n{}AppId:     %contextName %n{}User:      %X{userId} %n{}Thread:    %thread %n{}Severity:  %level %n{}Category:  %logger %n{}MessageId: #0# %n{}Message:   %msg %n{}%n{}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FilePath}/logs/${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FilePath}/logs/${logFileName}_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${fileLogPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <logger name="com.Jayant" level="debug"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>
</configuration>